{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}Moomanage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'CSS/styleHome.css' %}">
    
    

    <style>
        nav.navbar {
            height: 6rem !important;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
        }

        /* Agrega estilos personalizados */
        img.logo {
            max-height: 5rem;
        }

        .navbar-item {
            margin-right: 1rem;
        }

       
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    {% load static %}
                    <!-- Agrega la clase "logo" al elemento img -->
                    <img class="logo" src="{% static 'images\logo6.png' %}" alt="logo" />
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>

            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">

                    </div>

                    <a href="/" class="navbar-item is-active is-size-5 has-text-weight-semibold">
                        Home
                    </a>
                    
                    <a href="{% url 'servicios' %}" class="navbar-item is-size-5 has-text-weight-semibold">
                        Servicios
                    </a>
                    <a href="{% url 'about' %}" class="navbar-item is-size-5 has-text-weight-semibold">
                        Como Empezar
                    </a>
                    <a href="{% url 'about' %}" class="navbar-item is-size-5 has-text-weight-semibold">
                        Aplicacion móvil
                    </a>
                    <a href="{% url 'about' %}" class="navbar-item is-size-5 has-text-weight-semibold">
                        Conocenos
                    </a>


                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content">
            <div class="content has-text-centered">
                <div class="rectangle" data-id="181:406"></div>
                
                <div class="tm-iPe1yZ" data-id="181:331"></div>
                <div class="copyrigh-iPe1yZ" data-id="181:332"><a href="mailto:info@celotor.com" target="_blank"><span
                            class="span0-RxnBVD">moomanage0@gmail.com</span></a><span class="span1-RxnBVD"> | Copyright ©
                        2023&nbsp;&nbsp;| Medellín - Colombia</span></div>
                <div class="container-iPe1yZ" data-id="181:333">
                    <div class="col-1-AbjtwI" data-id="181:334">
                        <div class="servicios-noDUTi" data-id="181:335">Servicios</div>
                        <div class="list-items-noDUTi" data-id="181:336">
                            <div class="calculadora-de-costos-7oEkHF"
                                onclick="Lib.autoanim_redirect('home,home%23calculadora,,ease-out,300.00001192092896;servicios,home%23calculadora,,ease-out,300.00001192092896;como-empezar,home%23calculadora,,ease-out,300.00001192092896;conocenos,home%23calculadora,,ease-out,300.00001192092896;calculadora,home%23calculadora,,ease-out,300.00001192092896;como-empezar-parte-2,home%23calculadora,,ease-out,300.00001192092896;home-registrado,home%23calculadora,,ease-out,300.00001192092896', event)"
                                onmouseover="" data-id="181:337">Calculadora de costos</div>
                            <div class="como-empezar-7oEkHF"
                                onclick="Lib.autoanim_redirect('home,home%23como-empezar,,,;como-empezar,home%23como-empezar,,,', event)"
                                onmouseover="" data-id="181:338">Como empezar</div>
                            <div class="asesoramiento-7oEkHF" data-id="181:339">Asesoramiento</div>
                        </div>
                    </div>
                    <div class="col-2-AbjtwI" data-id="181:342">
                        <div class="company-JA1hxc" data-id="181:343">Empresa</div>
                        <div class="list-items-JA1hxc" data-id="181:344">
                            <div class="sobre-nosotros-ixAri4" data-id="181:345">sobre nosotros</div>
                            <div class="contacto-ixAri4" data-id="181:348">contacto</div>
                        </div>
                        
                    </div>
                    <div class="col-3-AbjtwI" data-id="181:350">
                        <div class="support-41jhRS" data-id="181:351">Support</div>
                        <div class="list-items-41jhRS" data-id="181:352">
                            <div class="terms-of-service-pxbSwm" data-id="181:354">Terms of service</div>
                            <div class="legal-pxbSwm" data-id="181:355">Legal</div>
                            <div class="privacy-policy-pxbSwm" data-id="181:356">Privacy Policy</div>
                        </div>
                    </div>
                    <div class="col-4-AbjtwI" data-id="181:358">
                        <div class="follow-us-vxgY4Z" data-id="181:359">Síguenos</div>
                        <div class="list-items-vxgY4Z" data-id="181:360">
                            <div class="facebook-d5xw72" data-id="181:361">Facebook</div>
                            <div class="twitter-d5xw72" data-id="181:362">Twitter</div>
                            <div class="instagram-d5xw72" data-id="181:364">Instagram</div>
                            <div class="linked-in-d5xw72" data-id="181:365">LinkedIn</div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="minimalist_-flower_-iPe1yZ" data-id="816:4868"></div>
        </div>
    </footer>

    
    

    
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
</body>

</html>