

.frame42
{
position:absolute;
background-color:#ffffff;
height:1000px;
width:1489px;
padding:0px;
}
.beneficios
{
width:1412px;
height:571px;
position:absolute;
top:153px;
left:0px;
}
.image1
{
height:51px;
width:50px;
left:0px;
top:127px;
position:absolute;
}
.image2
{
height:51px;
width:50px;
left:451px;
top:129px;
position:absolute;
}
.image3
{
height:51px;
width:50px;
left:941px;
top:129px;
position:absolute;
}
.image4
{
height:51px;
width:50px;
left:10px;
top:1600px;
position:absolute;
}
.image5
{
height:51;
width:50px;
left:717px;
top:318px;
position:absolute;
}
.msg1
{
text-align:center;
vertical-align:text-top;
font-size:40px;
font-family:Oswald;
line-height:auto;
border-style:hidden;
outline:none;
width:1331px;
}
.msg2
{
text-align:left;
vertical-align:text-top;
font-size:20px;
line-height:auto;
border-style:hidden;
outline:none;
left:58px;
top:116px;
position:absolute;
width:350px;
}
.msg3
{
text-align:left;
vertical-align:text-top;
font-size:20px;
left:508px;
top:293px;
width:372px;
height:144px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.msg4
{
text-align:left;
vertical-align:text-top;
font-size:20px;
left:998px;
top:290px;
width:407px;
height:144px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.msg5
{
text-align:left;
vertical-align:text-top;
font-size:20px;
left:58px;
top:488px;
width:603px;
height:96px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.msg6
{
text-align:left;
vertical-align:text-top;
font-size:20px;
left:778px;
top:485px;
width:634px;
height:96px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.msg7
{
color:#000000;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:Oswald;
left:105px;
top:618px;
width:1188px;
height:106px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.a7
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Rubik;
left:21px;
top:282px;
width:38px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.a8
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Rubik;
left:470px;
top:284px;
width:38px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.a9
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Rubik;
left:957px;
top:285px;
width:38px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.a10
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Rubik;
left:16px;
top:477px;
width:38px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.a11
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Rubik;
left:734px;
top:474px;
width:44px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
